<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>
<body>
	<nav th:replace="layouts::navbar"></nav>
	<div class="container">
		<h3>Employee Directory</h3>
		<hr />
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New Employee</a>
		<table class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Stage</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>