<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<title>Thymeleaf Example</title>
</head>

<body>
	<div class="container">
		<h3>Employee Directory</h3>
		<hr />
		<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employess</a>
		<table class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text="${emp.firstName}"></td>
					<td th:text="${emp.lastName}"></td>
					<td th:text="${emp.email}"></td>
					<td>
						<a th:href="@{'/employees/showFormForUpdate/'} + ${emp.id}" class="btn btn-info btn-sm me-1">Update</a>
						<a th:href="@{'/employees/delete/'} + ${emp.id}" class="btn btn-danger btn-sm" onclick="if(!(confirm('Are you sure?'))) return false">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>