<!--
  https://www.thymeleaf.org/doc/articles/layouts.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar(active)" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a th:attr="class=${active == 'All Posts' ? 'nav-link active' : 'nav-link'}" th:href="@{/}">All Posts</a>
        </li>
        <li class="nav-item">
          <a th:attr="class=${active == 'Register' ? 'nav-link active' : 'nav-link'}" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item">
          <a th:attr="class=${active == 'Login' ? 'nav-link active' : 'nav-link'}" th:href="@{/login}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</html>